body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF;
}

button:hover {
    background-color: #0056b3;
}

.top-nav {
    background-color: #333;
    overflow: hidden;
    padding: 10px 20px;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.top-nav li {
    margin-right: 20px;
}

.top-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    display: block;
}

.top-nav a:hover {
    background-color: #575757;
    border-radius: 4px;
}
