<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<nav class="top-nav">
    <ul>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/add-user">Add User</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>
<h1>Users</h1>
<form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
    <br />
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" />
    <br />
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" />
    <br />
    <button type="submit">Submit</button>
</form>
</body>
</html>
